.upper {
    text-transform: uppercase;
}

.text-focus {
    color: $white;
    font-family: $inter;
    font-weight: 700;

    &.main {
        font-size: clamp(26px, 2.5vw, 78px);

        
    }

    .highlight {
        color: $primary-soft-violet;
    }
}

.text-content {
    color: $transparent-seven;
    font-family: $inter;
    font-weight: 400;
    font-size: $font-size;
}

.sub-text {
    color: $transparent-six;
    font-family: $lexend;
    font-weight: 400;
    font-size: $font-size;
}

