@mixin font($color, $ff, $fs: false) {
    color: $color;
    font-family: $ff;

    @if $fs {
        font-size: $fs;
    }
}

@mixin flex-center($direction: false) {
    display: flex;
    justify-content: center;
    align-items: center;

    @if $direction {
        flex-direction: $direction;
    }
}